<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barcostudio_sql.Properties.Settings.bdregistroescConnectionString"
            connectionString="Data Source=DESKTOP-GD5MVN2\BARCO;Initial Catalog=bdregistroesc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Barcostudio_sql.Properties.Settings.dbproyectoexamenConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbproyectoexamen.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Barcostudio_sql.Properties.Settings.dbproyectoexamenConnectionString1"
            connectionString="Data Source=DESKTOP-BTI582G;Initial Catalog=dbproyectoexamen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>